.bookCardWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;
  border-right: 1px solid #5360cd;
  border-bottom: 1px solid #5360cd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;

  padding: 5px;
  &:hover {
    box-shadow: 2px 2px 10px #5360cd;
  }

  .bookCardWrapUp {
    display: flex;
    flex-direction: column;
    .imgWrap {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 200px;
      height: 210px;
      overflow: hidden;
      .bookCardImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .bookCardPrice {
      display: flex;
      justify-content: start;
      color: rgb(2, 3, 15);
      font-size: 24px;
      font-weight: 600;
      margin-left: 20px;
    }
    .bookCardTitle {
      text-align: center;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
      color: rgb(2, 3, 15);

      .bookCardTitleLink {
        &:hover {
          cursor: pointer;
          color: #5360cd;
          &:active {
            color: #2231aa;
          }
        }
      }
    }
  }

  .saveDotsWrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    align-items: center;
    .interactivePart {
      .faBookmark {
        background-color: transparent;
        border: none;
        &:hover {
          color: #5360cd;
        }
        &:active {
          color: #2231aa;
        }
      }
      .faCartShopping {
        background-color: transparent;
        border: none;
        margin-left: 10px;
        &:hover {
          color: #5360cd;
        }
        &:active {
          color: #2231aa;
        }
      }
    }
  }
}
