.searchWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(83, 96, 205, 1);

    .searchInput {
      cursor: pointer;
      background-color: rgba(83, 96, 205, 1);
      border: none;
      padding: 0 0 0 20px;
      width: 100%;
      height: 100%;
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      outline: none;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .searchCancel {
      width: 80px;
      cursor: pointer;

      fill: #fff;
    }
  }
}
.searchBtn {
  height: 100%;
  width: 84px;
  background-color: #2231aa;
  border: none;
  border-left: 1px solid #5360cd;
  border-right: 1px solid #5360cd;
  cursor: pointer;
}
