.searchWrap {
  .container {
    max-width: 900px;
    padding: 72px 15px 15px 0;
    margin: auto;
    .bookCardWrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      border-bottom: 1px solid rgba(218, 218, 218, 1);
      .imgTitleWrap {
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
        .dateTitleWrap {
          .bookCardDate {
            display: flex;
            justify-content: start;
            color: rgba(141, 142, 151, 1);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 8px;
          }
          .bookCardTitle {
            margin-bottom: 24px;
            font-family: Inter;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
          }
        }
        .imgWrap {
          height: 96px;
          width: 96px;
          overflow: hidden;
          margin-right: 33px;
          .bookCardImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .bookCardWrapDown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        .thumbsWrap {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 130px;

          .thumbsUpWrap {
            width: 53px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
          .thumbsDownWrap {
            width: 53px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
        .saveDotsWrap {
          .saveDots {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 64px;
            .faBookmark {
              background-color: transparent;
              border: none;
              &:hover {
                color: rgba(83, 96, 205, 1);
              }
              &:active {
                color: rgba(34, 49, 170, 1);
              }
            }
          }
        }
      }
    }

    .numbersWrapper {
      display: flex;
      width: 100%;
      padding: 15px 0;
      flex-direction: row;
      justify-content: space-between;

      .leftArrowWrap {
        width: 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .leftArrow {
          background-color: transparent;
          border: none;
          cursor: pointer;

          &:disabled {
            color: rgba(141, 142, 151, 1);
            cursor: not-allowed;
          }

          .leftArrowSvg {
            width: 24px;
            height: 24px;
            fill: currentColor;
          }
        }
        .prevWrap {
          background-color: transparent;
          border: none;
          cursor: pointer;

          font-family: Inter;
          font-size: 16px;
          font-weight: 600;

          &:disabled {
            color: rgba(141, 142, 151, 1);
            cursor: not-allowed;
          }
        }
      }
      .pageNubmers {
        display: flex;
        flex-direction: row;
        gap: 32px;
        .numbers {
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }

      .rightArrowWrap {
        width: 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .rightArrow {
          background-color: transparent;
          border: none;
          cursor: pointer;

          &:disabled {
            color: rgba(141, 142, 151, 1);
            cursor: not-allowed;
          }

          .rightArrowSvg {
            width: 24px;
            height: 24px;
            fill: currentColor;
          }
        }

        .nextWrap {
          background-color: transparent;
          border: none;
          cursor: pointer;

          font-family: Inter;
          font-size: 16px;
          font-weight: 600;

          &:disabled {
            color: rgba(141, 142, 151, 1);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
